html,
body {
  padding: 0;
  margin: 0;
  font-family: monospace, sans-serif;
  background-color: #f6fff5;
  color: #49416D;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}
